[submodule "thirdparty/libcornrow"]
	path = thirdparty/libcornrow
	url = https://github.com/mincequi/libcornrow
[submodule "thirdparty/bluez-qt"]
	path = thirdparty/bluez-qt
	url = https://github.com/mincequi/bluez-qt.git
[submodule "thirdparty/QtZeroConf"]
	path = thirdparty/QtZeroConf
	url = https://github.com/mincequi/QtZeroConf
[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake.git
