[submodule "thirdparty/libmicrodns"]
	path = thirdparty/libmicrodns
	url = https://github.com/mincequi/libmicrodns.git
[submodule "thirdparty/rpclib"]
	path = thirdparty/rpclib
	url = https://github.com/mincequi/rpclib.git
