[submodule "thirdparty/libcornrow"]
	path = thirdparty/libcornrow
	url = https://github.com/mincequi/libcornrow
[submodule "thirdparty/bluez-qt"]
	path = thirdparty/bluez-qt
	url = https://github.com/mincequi/bluez-qt.git
[submodule "thirdparty/QtZeroConf"]
	path = thirdparty/QtZeroConf
	url = https://github.com/mincequi/QtZeroConf
[submodule "Servus"]
	path = Servus
	url = https://github.com/mincequi/Servus.git
[submodule "ZeroEQ"]
	path = ZeroEQ
	url = https://github.com/mincequi/ZeroEQ.git
[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake.git
[submodule "thirdparty/qtremoteobjects"]
	path = thirdparty/qtremoteobjects
	url = https://github.com/mincequi/qtremoteobjects.git
	branch = 5.12
