Source: cornrowd
Section: sound
Priority: optional
Maintainer: Manuel Weichselbaumer <mincequi@web.de>
Build-Depends:
    cmake,
    debhelper (>= 10),
    libboost-dev,
    libtool,
#bluezqt deps
    extra-cmake-modules,
#gstreamermm deps
    gstreamer1.0-alsa,
    gstreamer1.0-tools,
    mm-common,
    libglibmm-2.4-dev (>= 2.44.0-2),
    libgstreamer-plugins-base1.0-dev,
    libxml-parser-perl,
#bluetooth le deps
    qtconnectivity5-dev (>= 5.7),
Standards-Version: 3.9.8
Vcs-Git: https://github.com/mincequi/cornrow.git

Package: cornrowd
Architecture: any
Conflicts: pulseaudio
Depends: 
    ${misc:Depends},
    ${shlibs:Depends},
    adduser,
    bluez,
    gstreamer1.0-plugins-good,
    gstreamer1.0-plugins-bad,
Description: Bluetooth audio player
 This is a bluetooth audio daemon which accepts and plays audio from any
 bluetooth source and turns your computer into a bluetooth speaker.
