Source: cornrowd
Section: sound
Priority: optional
Maintainer: Manuel Weichselbaumer <mincequi@web.de>
Build-Depends:
    cmake,
    debhelper (>= 10),
    libboost-dev,
    libgstreamermm-1.0-dev,
    libtool,
    libxxhash0,
    pkg-config,
#bluezqt deps
    extra-cmake-modules,
#bluetooth le deps
    qtconnectivity5-dev (>= 5.7),
Standards-Version: 3.9.8
Vcs-Git: https://github.com/mincequi/cornrow.git

Package: cornrowd
Architecture: any
Conflicts: pulseaudio
Depends: 
    ${misc:Depends},
    ${shlibs:Depends},
    adduser,
    bluez,
    gstreamer1.0-alsa,
    gstreamer1.0-plugins-base,
    gstreamer1.0-plugins-good,
    gstreamer1.0-plugins-bad,
    gstreamer1.0-libav,
Description: Bluetooth audio player
 This is a bluetooth audio daemon which accepts and plays audio from any
 bluetooth source and turns your computer into a bluetooth speaker.
